body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    border: 1px solid gray;
    border-radius: 3px;
    display: block;
}

#game-log {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
